In [2]:
import numpy as np
import pandas as pd

In [4]:
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import OneHotEncoder
from sklearn.preprocessing import OrdinalEncoder

In [6]:
df=pd.read_csv('covid_toy.csv')

In [20]:
df.isnull().sum()

age           0
gender        0
fever        10
cough         0
city          0
has_covid     0
dtype: int64

<h1>train_test_split</h1>

In [31]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test=train_test_split(df.drop(columns=['has_covid']),df['has_covid'],test_size=0.2)

In [35]:
X_train

    age  gender  fever   cough       city
92   82  Female  102.0  Strong    Kolkata
22   71  Female   98.0  Strong    Kolkata
99   10  Female   98.0  Strong    Kolkata
35   82  Female  102.0  Strong  Bangalore
91   38    Male    NaN    Mild      Delhi
..  ...     ...    ...     ...        ...
50   19    Male  101.0    Mild      Delhi
90   59  Female   99.0  Strong      Delhi
55   81  Female  101.0    Mild     Mumbai
66   51    Male  104.0    Mild    Kolkata
78   11    Male  100.0    Mild  Bangalore

[80 rows x 5 columns]

<h1>Aam Zindagi if you dont know Column transformer</h1>

In [39]:
# we have missing value so we adding simple imputer to fever column

In [41]:
si=SimpleImputer()

In [43]:
X_train_fever=si.fit_transform(X_train[['fever']])
#also the test data
X_test_fever=si.fit_transform(X_test[['fever']])#fit is liye kr rhe hai test data ko kyu ki test data mai missing values nhi honi chahiye 
X_train_fever.shape

(80, 1)

In [49]:
X_train_fever

array([[102.        ],
       [ 98.        ],
       [ 98.        ],
       [102.        ],
       [101.05633803],
       [101.        ],
       [101.        ],
       [100.        ],
       [ 98.        ],
       [102.        ],
       [104.        ],
       [103.        ],
       [101.        ],
       [101.05633803],
       [ 98.        ],
       [101.        ],
       [103.        ],
       [100.        ],
       [ 98.        ],
       [101.05633803],
       [103.        ],
       [103.        ],
       [ 98.        ],
       [101.        ],
       [104.        ],
       [101.        ],
       [102.        ],
       [101.        ],
       [104.        ],
       [ 98.        ],
       [104.        ],
       [101.        ],
       [104.        ],
       [ 98.        ],
       [103.        ],
       [101.        ],
       [100.        ],
       [101.        ],
       [104.        ],
       [100.        ],
       [103.        ],
       [ 99.        ],
       [100.        ],
       [102.        ],
       [101.05633803],
       [101.05633803],
       [101.        ],
       [102.        ],
       [104.        ],
       [ 99.        ],
       [ 98.        ],
       [103.        ],
       [ 98.        ],
       [104.        ],
       [100.        ],
       [ 99.        ],
       [101.05633803],
       [101.05633803],
       [ 99.        ],
       [101.        ],
       [ 99.        ],
       [100.        ],
       [101.05633803],
       [104.        ],
       [ 99.        ],
       [103.        ],
       [101.05633803],
       [102.        ],
       [100.        ],
       [104.        ],
       [ 99.        ],
       [100.        ],
       [103.        ],
       [102.        ],
       [102.        ],
       [101.        ],
       [ 99.        ],
       [101.        ],
       [104.        ],
       [100.        ]])

In [53]:
# Ordinalencoding -> cough
oe = OrdinalEncoder(categories=[['Mild','Strong']])
X_train_cough = oe.fit_transform(X_train[['cough']])

# also the test data
X_test_cough = oe.fit_transform(X_test[['cough']])

X_train_cough.shape

(80, 1)

# OneHotEncoding -> gender,city
ohe = OneHotEncoder(drop='first',sparse_output=False)
X_train_gender_city = ohe.fit_transform(X_train[['gender','city']])

# also the test data
X_test_gender_city = ohe.fit_transform(X_test[['gender','city']])

X_train_gender_city.shape

In [59]:
# Extracting Age
X_train_age = X_train.drop(columns=['gender','fever','cough','city']).values

# also the test data
X_test_age = X_test.drop(columns=['gender','fever','cough','city']).values

X_train_age.shape

(80, 1)

In [61]:
X_train_transformed = np.concatenate((X_train_age,X_train_fever,X_train_gender_city,X_train_cough),axis=1)
# also the test data
X_test_transformed = np.concatenate((X_test_age,X_test_fever,X_test_gender_city,X_test_cough),axis=1)

X_train_transformed.shape

(80, 7)

<h1>Mentos Zindagi Transformer uses</h1>

In [104]:
from sklearn.compose import ColumnTransformer
transformer = ColumnTransformer(transformers=[
    ('tnf1',SimpleImputer(),['fever']),
    ('tnf2',OrdinalEncoder(categories=[['Mild','Strong']]),['cough']),
    ('tnf3',OneHotEncoder(sparse_output=False,drop='first'),['gender','city'])
],remainder='passthrough')
transformer.fit_transform(X_train).shape

(80, 7)

In [106]:
transformer.transform(X_test).shape

(20, 7)